/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 50%;
  }
}
@font-face {
  font-family: 'Brandon_reg';
  src: url("../font/Brandon_reg.eot");
  src: url("../font/Brandon_reg.eot?#iefix") format("embedded-opentype"), url("../font/Brandon_reg.woff2") format("woff2"), url("../font/Brandon_reg.woff") format("woff"), url("../font/Brandon_reg.ttf") format("truetype"), url("../font/Brandon_reg#Brandon_reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesqueblack';
  src: url("../font/Brandon_blk-webfont.eot");
  src: url("../font/Brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Brandon_blk-webfont.woff2") format("woff2"), url("../font/Brandon_blk-webfont.woff") format("woff"), url("../font/Brandon_blk-webfont.ttf") format("truetype"), url("../font/Brandon_blk-webfont.svg#brandon_grotesqueblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MinionPro-It';
  src: url("../font/MinionPro-It.eot");
  src: url("../font/MinionPro-It.eot?#iefix") format("embedded-opentype"), url("../font/MinionPro-It.woff2") format("woff2"), url("../font/MinionPro-It.woff") format("woff"), url("../font/MinionPro-It.ttf") format("truetype"), url("../font/MinionPro-It.svg#brandon_grotesqueblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@viewport {
  width: device-width;
}
body {
  text-align: center;
  background-color: whitesmoke;
  -webkit-animation: colorbg .5s 3.35s ease-in-out forwards;
          animation: colorbg .5s 3.35s ease-in-out forwards;
}

@-webkit-keyframes colorbg {
  to {
    background-color: #89C4F4;
  }
}

@keyframes colorbg {
  to {
    background-color: #89C4F4;
  }
}
.cardwrapper {
  display: inline-block;
  margin: 6.25em 0.625em;
  width: 23.4375em;
  max-width: 100%;
  border-radius: 1em;
}

.parc {
  stroke-dasharray: 279;
  stroke-dashoffset: 279;
  stroke-width: 6;
  -webkit-animation: parc 2s 1s ease-in-out forwards;
          animation: parc 2s 1s ease-in-out forwards;
}

@-webkit-keyframes parc {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes parc {
  to {
    stroke-dashoffset: 0;
  }
}
.ptrait {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  stroke-width: 10;
  -webkit-animation: ptrait .5s 1.5s ease-in-out forwards;
          animation: ptrait .5s 1.5s ease-in-out forwards;
}

@-webkit-keyframes ptrait {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes ptrait {
  to {
    stroke-dashoffset: 0;
  }
}
.ierrick {
  stroke-dasharray: 323;
  stroke-dashoffset: 323;
  stroke-width: 4;
  -webkit-animation: ierrick .75s 1.8s ease-in forwards;
          animation: ierrick .75s 1.8s ease-in forwards;
}

@-webkit-keyframes ierrick {
  to {
    stroke-width: 6;
    stroke-dashoffset: 0;
  }
}

@keyframes ierrick {
  to {
    stroke-width: 6;
    stroke-dashoffset: 0;
  }
}
/* Points I */
.pointi1 {
  opacity: 0;
  -webkit-animation: pointi1 .25s 1.75s ease-in forwards;
          animation: pointi1 .25s 1.75s ease-in forwards;
}

@-webkit-keyframes pointi1 {
  to {
    opacity: 1;
  }
}

@keyframes pointi1 {
  to {
    opacity: 1;
  }
}
.pointi2 {
  opacity: 0;
  -webkit-animation: pointi2 .25s 2.15s ease-in forwards;
          animation: pointi2 .25s 2.15s ease-in forwards;
}

@-webkit-keyframes pointi2 {
  to {
    opacity: 1;
  }
}

@keyframes pointi2 {
  to {
    opacity: 1;
  }
}
.part2wrapper {
  margin: 3.125em 0.3125em;
}

h2 {
  margin: 0 auto;
}

.iam {
  font-family: "MinionPro-It", Fallback, sans-serif;
  font-smoothing: antialiased;
  color: whitesmoke;
  font-size: 3.5em;
  margin-bottom: 0.4em;
}

.line1 span.char2, .line1 span.char5, .iam .line2 span.char12, .iam .line2 span.char8 {
  display: inline;
  letter-spacing: 0.1875em;
}

.iam span.line1, .iam span.line2 {
  display: inline-block;
}

.line1 span {
  display: inline-block;
  position: relative;
  opacity: 0;
}

.iam .line2 span, .and .line2 span {
  display: inline-block;
  position: absolute;
  opacity: 0;
}

.motiondesigner {
  width: 30.875em;
  height: 6.5625em;
  margin-bottom: -1em;
}

#motiondesigner-path {
  background: #EEE;
  font: 4.5em "brandon_grotesqueblack", Fallback, sans-serif;
}

.motiondesigner-color .mdcolor1 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: mdcolor1 .4s 4s ease-out forwards;
          animation: mdcolor1 .4s 4s ease-out forwards;
  fill: #F1F9FF;
}

@-webkit-keyframes mdcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes mdcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.motiondesigner-color .mdcolor1end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: mdcolor1end .8s 6.4s ease-out forwards;
          animation: mdcolor1end .8s 6.4s ease-out forwards;
  fill: #F1F9FF;
  opacity: 0;
}

@-webkit-keyframes mdcolor1end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes mdcolor1end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.motiondesigner-color .mdcolor2 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: mdcolor2 .6s 4s ease-out forwards;
          animation: mdcolor2 .6s 4s ease-out forwards;
  fill: #B7DCFB;
}

@-webkit-keyframes mdcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes mdcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.motiondesigner-color .mdcolor2end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: mdcolor2end .6s 6.4s ease-out forwards;
          animation: mdcolor2end .6s 6.4s ease-out forwards;
  fill: #B7DCFB;
  opacity: 0;
}

@-webkit-keyframes mdcolor2end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes mdcolor2end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.motiondesigner-color .mdcolor3 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: mdcolor3 .8s 4s ease-out forwards;
          animation: mdcolor3 .8s 4s ease-out forwards;
  fill: #62ACE9;
}

@-webkit-keyframes mdcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes mdcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.motiondesigner-color .mdcolor3end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: mdcolor3end .4s 6.4s ease-out forwards;
          animation: mdcolor3end .4s 6.4s ease-out forwards;
  fill: #62ACE9;
  opacity: 0;
}

@-webkit-keyframes mdcolor3end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes mdcolor3end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.motiondesigner-color .mdcolor4 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: mdcolor4 1s 4s ease-out forwards;
          animation: mdcolor4 1s 4s ease-out forwards;
  fill: #3F91D6;
}

@-webkit-keyframes mdcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes mdcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.motiondesigner-color .mdcolor4end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: mdcolor4end .2s 6.4s ease-out forwards;
          animation: mdcolor4end .2s 6.4s ease-out forwards;
  fill: #3F91D6;
  opacity: 0;
}

@-webkit-keyframes mdcolor4end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes mdcolor4end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.apprenticeship {
  display: inline-block;
  position: absolute;
  width: 27.6875em;
  height: 6.5625em;
  margin-bottom: -1em;
}

#apprenticeship-path {
  background: #EEE;
  font: 4.5em "brandon_grotesqueblack", Fallback, sans-serif;
}

.apprenticeship-color .apcolor1 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: apcolor1 .4s 7.2s ease-out forwards;
          animation: apcolor1 .4s 7.2s ease-out forwards;
  fill: #F1F9FF;
}

@-webkit-keyframes apcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes apcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.apprenticeship-color .apcolor2 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: apcolor2 .6s 7.2s ease-out forwards;
          animation: apcolor2 .6s 7.2s ease-out forwards;
  fill: #B7DCFB;
}

@-webkit-keyframes apcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes apcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.apprenticeship-color .apcolor3 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: apcolor3 .8s 7.2s ease-out forwards;
          animation: apcolor3 .8s 7.2s ease-out forwards;
  fill: #62ACE9;
}

@-webkit-keyframes apcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes apcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.apprenticeship-color .apcolor4 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: apcolor4 1s 7.2s ease-out forwards;
          animation: apcolor4 1s 7.2s ease-out forwards;
  fill: #3F91D6;
}

@-webkit-keyframes apcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes apcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.and {
  font-family: "MinionPro-It", Fallback, sans-serif;
  color: whitesmoke;
  font-size: 3.5em;
  opacity: 0;
  margin-top: 0em;
  margin-bottom: .4em;
}

.developer {
  width: 38.25em;
  height: 6.5625em;
  margin-bottom: -1em;
}

#developer-path {
  background: #EEE;
  font: 4.5em "brandon_grotesqueblack", Fallback, sans-serif;
}

.developer-color .fedcolor1 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: fedcolor1 .4s 5s ease-out forwards;
          animation: fedcolor1 .4s 5s ease-out forwards;
  fill: #F1F9FF;
}

@-webkit-keyframes fedcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes fedcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.developer-color .fedcolor1end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: fedcolor1end .8s 6.4s ease-in forwards;
          animation: fedcolor1end .8s 6.4s ease-in forwards;
  fill: #F1F9FF;
  opacity: 0;
}

@-webkit-keyframes fedcolor1end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes fedcolor1end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.developer-color .fedcolor2 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: fedcolor2 .6s 5s ease-out forwards;
          animation: fedcolor2 .6s 5s ease-out forwards;
  fill: #B7DCFB;
}

@-webkit-keyframes fedcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes fedcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.developer-color .fedcolor2end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: fedcolor2end .6s 6.4s ease-in forwards;
          animation: fedcolor2end .6s 6.4s ease-in forwards;
  fill: #B7DCFB;
  opacity: 0;
}

@-webkit-keyframes fedcolor2end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes fedcolor2end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.developer-color .fedcolor3 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: fedcolor3 .8s 5s ease-out forwards;
          animation: fedcolor3 .8s 5s ease-out forwards;
  fill: #62ACE9;
}

@-webkit-keyframes fedcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes fedcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.developer-color .fedcolor3end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: fedcolor3end .4s 6.4s ease-in forwards;
          animation: fedcolor3end .4s 6.4s ease-in forwards;
  fill: #62ACE9;
  opacity: 0;
}

@-webkit-keyframes fedcolor3end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes fedcolor3end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.developer-color .fedcolor4 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: fedcolor4 1s 5s ease-out forwards;
          animation: fedcolor4 1s 5s ease-out forwards;
  fill: #3F91D6;
}

@-webkit-keyframes fedcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes fedcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.developer-color .fedcolor4end {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: fedcolor4end .2s 6.4s ease-out forwards;
          animation: fedcolor4end .2s 6.4s ease-out forwards;
  fill: #3F91D6;
  opacity: 0;
}

@-webkit-keyframes fedcolor4end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}

@keyframes fedcolor4end {
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
.paris {
  display: inline-block;
  position: absolute;
  width: 9em;
  height: 6.5625em;
  margin-bottom: -1em;
}

#paris-path {
  background: #EEE;
  font: 4.5em "brandon_grotesqueblack", Fallback, sans-serif;
}

.paris-color .pcolor1 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: pcolor1 .4s 7.2s ease-out forwards;
          animation: pcolor1 .4s 7.2s ease-out forwards;
  fill: #F1F9FF;
}

@-webkit-keyframes pcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pcolor1 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.paris-color .pcolor2 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: pcolor2 .6s 7.2s ease-out forwards;
          animation: pcolor2 .6s 7.2s ease-out forwards;
  fill: #B7DCFB;
}

@-webkit-keyframes pcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pcolor2 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.paris-color .pcolor3 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: pcolor3 .8s 7.2s ease-out forwards;
          animation: pcolor3 .8s 7.2s ease-out forwards;
  fill: #62ACE9;
}

@-webkit-keyframes pcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pcolor3 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.paris-color .pcolor4 {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: pcolor4 1s 7.2s ease-out forwards;
          animation: pcolor4 1s 7.2s ease-out forwards;
  fill: #3F91D6;
}

@-webkit-keyframes pcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pcolor4 {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.st0 {
  fill: whitesmoke;
}

#eiffeltower {
  display: inline-block;
  width: 31.25em;
  max-width: 100%;
  margin-bottom: none;
}

#base {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: base 1s 7.2s ease-in-out forwards;
          animation: base 1s 7.2s ease-in-out forwards;
}

@-webkit-keyframes base {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes base {
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
#bottom, #middle, #top {
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
}

#smallcloud, #mediumcloud, #bigcloud {
  opacity: 0;
  -webkit-animation: clouds 1s 9.1s ease-in forwards;
          animation: clouds 1s 9.1s ease-in forwards;
}

@-webkit-keyframes clouds {
  100% {
    opacity: 1;
  }
}

@keyframes clouds {
  100% {
    opacity: 1;
  }
}
.btnform {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  display: inline-block;
  margin-bottom: 0.9375em;
}

.btn {
  position: relative;
  font-family: "Brandon_reg", Fallback, sans-serif;
  font-smoothing: antialiased;
  color: whitesmoke;
  font-size: 2em;
  border: none;
  cursor: pointer;
  padding: 0.19563em 0.625em;
  display: inline-block;
  letter-spacing: 0.03125em;
  outline: none;
  position: relative;
  border-radius: 0.15625em;
  background: #3F91D6;
  box-shadow: 0 0.1875em #236aa5;
  -webkit-transition: none;
          transition: none;
}
.btn:hover {
  background: #3F91D6;
  box-shadow: 0 0.125em #1f5c90;
  top: 0.125em;
}
.btn:active {
  box-shadow: 0 0 #ab3c3c;
  top: 0.1875em;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.hireme {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  position: relative;
  display: inline-block;
  width: 15.625em;
  max-width: 100%;
  height: auto;
  color: #3F91D6;
  font-size: 2em;
  letter-spacing: 0.03125em;
  padding-top: 0.3125em;
  background: whitesmoke;
  outline: none;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 0.15625em;
  border-bottom-right-radius: 0.15625em;
}
.hireme:hover {
  color: whitesmoke;
  background: #3F91D6;
}
.hireme:hover .icon-circle-up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.hireme:hover .formwrapper {
  color: #3F91D6;
  background: whitesmoke;
}
.hireme:hover:after {
  content: "";
  display: inline-block;
  height: 0.125em;
  width: 15.625em;
  max-width: 100%;
  background-color: #1f5c90;
}
.hireme:after {
  content: "";
  display: inline-block;
  border-bottom-left-radius: 0.15625em;
  border-bottom-right-radius: 0.15625em;
  height: 0.125em;
  width: 15.625em;
  max-width: 100%;
  background-color: gainsboro;
  opacity: 1;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}

.hiremehover {
  color: whitesmoke;
  background: #3F91D6;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hiremehover .icon-circle-up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.hiremehover:hover .icon-circle-up {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.hiremehover:after {
  opacity: 0;
  background-color: #1f5c90;
}

.hire {
  display: inline;
  margin-left: -0.46875em;
  font-family: "Brandon_reg", Fallback, sans-serif;
  font-smoothing: antialiased;
}

.icon-vector_65_12 {
  display: inline-block;
  position: relative;
  right: 4.53125em;
}

.icon-circle-up {
  display: inline-block;
  position: relative;
  left: 4.53125em;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.social-buttons {
  height: 1.875em;
  margin: auto;
  text-align: center;
  position: relative;
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 1.875em;
  max-width: 100%;
  height: 1.875em;
  margin: 0 0.15625em;
  text-align: center;
  border-radius: 28%;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.social-button .fa {
  font-size: 1.25em;
  margin-top: 0.25em;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.social-button:focus {
  opacity: .85;
}

.social-button {
  position: relative;
  overflow: hidden;
  opacity: .99;
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.social-button:hover:before {
  top: -10%;
  left: -10%;
}

.social-button .fa {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.linkedin:before {
  background-color: #0976b4;
}
.social-button.linkedin:hover .fa {
  color: #fff;
}
.social-button.linkedin .fa {
  color: #0976b4;
}
.social-button.twitter:before {
  background-color: #55acee;
}
.social-button.twitter:hover .fa {
  color: #fff;
}
.social-button.twitter .fa {
  color: #55acee;
}
.social-button.instagram:before {
  background-color: #3f729b;
}
.social-button.instagram:hover .fa {
  color: #fff;
}
.social-button.instagram .fa {
  color: #3f729b;
}
.social-button.vimeo:before {
  background-color: #1ab7ea;
}
.social-button.vimeo:hover .fa {
  color: #fff;
}
.social-button.vimeo .fa {
  color: #1ab7ea;
}
.social-button.github:before {
  background-color: #333333;
}
.social-button.github:hover .fa {
  color: #fff;
}
.social-button.github .fa {
  color: #333333;
}
.social-button.codepen:before {
  background-color: #000000;
}
.social-button.codepen:hover .fa {
  color: #fff;
}
.social-button.codepen .fa {
  color: #000000;
}

.formwrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  text-align: center;
  width: 15.625em;
  max-width: 100%;
  height: auto;
  display: none;
  padding-top: 0.9375em;
  color: #3F91D6;
  font-size: 2em;
  letter-spacing: 0.03125em;
  background: whitesmoke;
  border-bottom-left-radius: 0.15625em;
  border-bottom-right-radius: 0.15625em;
}
.formwrapper:after {
  content: "";
  display: inline-block;
  border-bottom-left-radius: 0.15625em;
  border-bottom-right-radius: 0.15625em;
  height: 0.1875em;
  width: 15.625em;
  max-width: 100%;
  background-color: #1f5c90;
}

.btnresume, .btnformation {
  font-size: 1em;
}

.icon-document, .icon-hat {
  margin-right: -0.15625em;
}

.form {
  width: 15.625em;
  max-width: 100%;
  margin-top: 0.3125em;
  margin-bottom: 0;
  color: #3F91D6;
  appearance: none;
  text-align: left;
  font-family: "Brandon_reg", Fallback, sans-serif;
  overflow: hidden;
}

fieldset {
  border: none;
  width: 14.25em;
  max-width: 100%;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1.5em 0em 1em 0em;
  width: 14.25em;
  max-width: 100%;
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.25em;
  width: 14.25em;
  max-width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  color: #62ACE9;
  font-family: "Brandon_reg", Fallback, sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
}
.input__field:focus {
  outline: none;
}

.input__label {
  position: absolute;
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 18.28125em;
  max-width: 100%;
  color: #3F91D6;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  pointer-events: none;
}
.input__label:before, .input__label:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0.125em;
  background: #62ACE9;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.input__label:before {
  top: 0;
}
.input__label:after {
  bottom: 0;
}

.input__label-content {
  position: relative;
  display: block;
  padding: .7em 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  -webkit-transform: translate3d(0, -0.3em, 0);
          transform: translate3d(0, -0.3em, 0);
  background: #3F91D6;
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0.3em, 0);
          transform: translate3d(0, 0.3em, 0);
  background: #3F91D6;
}

.message__field {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 6.25em;
  width: 100%;
  border-radius: 0.15625em;
  border: 0.125em solid #62ACE9;
  background: transparent;
  resize: vertical;
}
.message__field:focus {
  outline: none;
  border: 0.125em solid #3F91D6;
}

textarea {
  font-family: "Brandon_reg", Fallback, sans-serif;
  font-size: .9em;
  color: #62ACE9;
  padding: 0.2em 0.4em;
}

textarea::-webkit-input-placeholder {
  font-size: .9em;
  color: #3F91D6;
}

textarea::-moz-placeholder {
  font-size: .9em;
  color: #3F91D6;
}

textarea:-moz-placeholder {
  font-size: .9em;
  color: #3F91D6;
}

textarea:-ms-input-placeholder {
  font-size: .9em;
  color: #3F91D6;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 31.25em whitesmoke inset;
  -webkit-text-fill-color: #62ACE9 !important;
}

.btnsubmit {
  font-size: .8em;
  margin-left: 0.3125em;
  float: right;
}

.icon-send {
  margin-right: 0;
}

.error {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0.3125em 0.8125em 0.3125em 0.8125em;
  width: 18.5em;
  max-width: 100%;
  border-radius: 0.15625em;
  border: 0.125em solid #62ACE9;
  background: transparent;
  background-color: #fcdad9;
  color: #f1534b;
  border: 0.09375em solid #f36a62;
  font-size: 1em;
}

.success {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0.3125em 0.8125em 0.3125em 0.8125em;
  width: 18.5em;
  max-width: 100%;
  border-radius: 0.15625em;
  border: 0.125em solid #62ACE9;
  background: transparent;
  background-color: #d2e5f5;
  color: #549dda;
  border: 0.09375em solid #69a9df;
  font-size: 1em;
}
